<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="LyricistBean1" class="spring.impls.Poushkin"/>
	<bean id="LyricistBean2" class="spring.impls.Mayakovsky"/>
	<bean id="LyricistBean3" class="spring.impls.Severyanin"/>

	<bean id="StageBean" class="spring.impls.Stage">
		<constructor-arg ref="LyricistBean2" />
		<constructor-arg ref="LyricistBean3" />
	</bean>
	
</beans>
